body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(33, 33, 33);
    color: white;
}

.contact {
  padding: 4px 2px
}

a:link, a:visited {
  color: #1a9197;
}

a:hover, a:active {
  color: #23b4b9;
}

a.contact-btn {
  text-decoration: none;
  padding: 16px 16px;
}

a.contact-btn:link, a.contact-btn:visited {
  color: rgb(54, 54, 54);
}

a.contact-btn:hover, a.contact-btn:active {
  color: white;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    min-width: 350px;
    background-color: rgb(54, 54, 54);
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  li.logo-item {
    padding: 16px 16px;
  }

  .logo {
    border-radius: 50%;
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    box-shadow: 0px 0px 15px 0px;
    overflow: hidden;
  }

  li.navbar-title {
    display: block;
    padding: 16px 8px;
    color: rgb(184, 184, 184);
  }

  li.navbar-title a {
    font-size: 30px;
    color: rgb(184, 184, 184);
    text-decoration: none;
  }

  li.navbar-title a:hover {
    color:white;
  }
  
  li.menu-item a {
    display: block;
    color: rgb(184, 184, 184);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li.menu-item a.active {
    background-color: #1a9197;
    color: white;
  }
  
  li.menu-item a:hover:not(.active) {
    color: white;
  }

  .content {
    margin-left: max(15%, 350px);
    padding: 1px 16px;
    font-size: 18px;
  }

  